In [5]:
import pandas as pd
import pickle 
from scipy.stats import poisson

In [20]:
dict_table = pickle.load(open('dict_table','rb'))
df_historical_data = pd.read_csv('Prediction/Clean_Africa_cup_historical_matches.csv')
df_fixture = pd.read_csv('Prediction/Clean_Africa_Cup_2025_Fixture.csv')

In [4]:
dict_table['Group A']

   Rang   Équipe  Pts  J  G  N  P  Bp  Bc  Diff
0     1  Maroc H    0  0  0  0  0   0   0     0
1     2     Mali    0  0  0  0  0   0   0     0
2     3   Zambie    0  0  0  0  0   0   0     0
3     4  Comores    0  0  0  0  0   0   0     0

In [5]:
df_historical_data

,Home Team,Away Team,Year,HomeGoals,AwayGoals,Total Goals
0,Sudan,Egypt,1957,1,2,3
1,Egypt,Ethiopia,1957,4,0,4
2,United Arab Republic,Ethiopia,1959,4,0,4
3,Sudan,Ethiopia,1959,1,0,1
4,United Arab Republic,Sudan,1959,2,1,3
...,...,...,...,...,...,...
787,Algeria,Burkina Faso,2023,2,2,4
788,Mauritania,Angola,2023,2,3,5
789,Angola,Burkina Faso,2023,2,0,2
790,Tunisia,Namibia,2023,0,1,1
791,Nigeria,Ivory Coast,2023,1,2,3

In [6]:
df_fixture

                 home score               away  year
0             Morocco     v            Comoros  2025
1                Mali     v             Zambia  2025
2             Morocco     v               Mali  2025
3              Zambia     v            Comoros  2025
4              Zambia     v            Morocco  2025
5             Comoros     v               Mali  2025
6               Egypt     v           Zimbabwe  2025
7        South Africa     v             Angola  2025
8               Egypt     v       South Africa  2025
9              Angola     v           Zimbabwe  2025
10             Angola     v              Egypt  2025
11           Zimbabwe     v       South Africa  2025
12            Nigeria     v           Tanzania  2025
13            Tunisia     v             Uganda  2025
14            Nigeria     v            Tunisia  2025
15             Uganda     v           Tanzania  2025
16             Uganda     v            Nigeria  2025
17           Tanzania     v            Tunisia  2025
18            Senegal     v           Botswana  2025
19           DR Congo     v              Benin  2025
20            Senegal     v           DR Congo  2025
21              Benin     v           Botswana  2025
22              Benin     v            Senegal  2025
23           Botswana     v           DR Congo  2025
24            Algeria     v              Sudan  2025
25       Burkina Faso     v  Equatorial Guinea  2025
26            Algeria     v       Burkina Faso  2025
27  Equatorial Guinea     v              Sudan  2025
28  Equatorial Guinea     v            Algeria  2025
29              Sudan     v       Burkina Faso  2025
30        Ivory Coast     v         Mozambique  2025
31           Cameroon     v              Gabon  2025
32        Ivory Coast     v           Cameroon  2025
33              Gabon     v         Mozambique  2025
34              Gabon     v        Ivory Coast  2025
35         Mozambique     v           Cameroon  2025
36     Winner Group D    R1    3rd Group B/E/F  2025
37  Runner-up Group A    R2  Runner-up Group C  2025
38     Winner Group A    R3    3rd Group C/D/E  2025
39  Runner-up Group B    R4  Runner-up Group F  2025
40     Winner Group B    R5    3rd Group A/C/D  2025
41     Winner Group C    R6    3rd Group A/B/F  2025
42     Winner Group E    R7  Runner-up Group D  2025
43     Winner Group F    R8  Runner-up Group E  2025
44          Winner R2   QF1          Winner R1  2025
45          Winner R4   QF2          Winner R3  2025
46          Winner R7   QF3          Winner R6  2025
47          Winner R5   QF4          Winner R8  2025
48         Winner QF1   SF1         Winner QF4  2025
49         Winner QF3   SF2         Winner QF2  2025
50          Loser SF1     v          Loser SF2  2025
51         Winner SF1     v         Winner SF2  2025

In [21]:
df_home = df_historical_data[['Home Team','HomeGoals','AwayGoals']]
df_away = df_historical_data[['Away Team','HomeGoals','AwayGoals']]

In [8]:
df_home

                Home Team  HomeGoals  AwayGoals
0                   Sudan          1          2
1                   Egypt          4          0
2    United Arab Republic          4          0
3                   Sudan          1          0
4    United Arab Republic          2          1
..                    ...        ...        ...
787               Algeria          2          2
788            Mauritania          2          3
789                Angola          2          0
790               Tunisia          0          1
791               Nigeria          1          2

[792 rows x 3 columns]

In [22]:
df_home = df_home.rename(columns= {'Home Team': 'Team', 'HomeGoals' : 'Goals Scored', 'AwayGoals': 'Goals Conceded'})
df_away = df_away.rename(columns= {'Away Team': 'Team', 'HomeGoals' : 'Goals Conceded', 'AwayGoals': 'Goals Scored'})

In [10]:
df_home

                     Team  Goals Scored  Goals Conceded
0                   Sudan             1               2
1                   Egypt             4               0
2    United Arab Republic             4               0
3                   Sudan             1               0
4    United Arab Republic             2               1
..                    ...           ...             ...
787               Algeria             2               2
788            Mauritania             2               3
789                Angola             2               0
790               Tunisia             0               1
791               Nigeria             1               2

[792 rows x 3 columns]

In [23]:
df_team_strength = pd.concat([df_home,df_away], ignore_index =True).groupby('Team').mean()
df_team_strength

                      Goals Scored  Goals Conceded
Team
Algeria                   1.215190        1.177215
Angola                    1.258065        1.387097
Benin                     0.500000        1.714286
Botswana                  0.666667        3.000000
Burkina Faso              1.000000        1.408163
Burundi                   0.000000        1.333333
Cameroon                  1.494737        0.957895
Cape Verde                0.875000        0.750000
Comoros                   1.000000        1.750000
Congo                     1.086957        1.391304
Congo-Brazzaville         0.666667        2.666667
Congo-Kinshasa            1.500000        1.250000
Congo-Léopoldville        1.000000        4.000000
DR Congo                  1.045455        1.181818
Egypt                     1.454545        0.818182
Equatorial Guinea         1.052632        0.947368
Ethiopia                  1.033333        2.233333
Gabon                     0.960000        1.200000
Gambia                    0.750000        1.250000
Ghana                     1.288462        0.865385
Guinea                    1.250000        1.384615
Guinea-Bissau             0.333333        1.583333
Ivory Coast               1.419048        1.019048
Kenya                     0.647059        1.823529
Liberia                   1.000000        1.400000
Libya                     1.090909        1.181818
Madagascar                1.400000        1.400000
Malawi                    0.900000        1.500000
Mali                      1.203390        1.169492
Mauritania                0.400000        1.600000
Mauritius                 0.666667        2.666667
Morocco                   1.175676        0.891892
Mozambique                0.533333        2.200000
Namibia                   0.846154        2.384615
Niger                     0.166667        1.500000
Nigeria                   1.403846        0.913462
Rwanda                    1.000000        1.000000
Senegal                   1.242857        0.814286
Sierra Leone              0.500000        1.750000
South Africa              1.100000        0.960000
Sudan                     1.074074        1.555556
Tanzania                  0.666667        2.000000
Togo                      0.760000        1.680000
Tunisia                   1.192771        1.168675
Uganda                    0.913043        1.652174
United Arab Rep.          2.000000        1.000000
United Arab Republic      3.000000        1.571429
Upper Volta               0.666667        3.000000
Zaire                     1.307692        1.423077
Zambia                    1.185714        1.028571
Zimbabwe                  1.066667        2.066667

In [24]:
from scipy.stats import poisson

def predict_winner(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        lamb_home = df_team_strength.at[home, 'Goals Scored'] * df_team_strength.at[away, 'Goals Conceded']
        lamb_away = df_team_strength.at[away, 'Goals Scored'] * df_team_strength.at[home, 'Goals Conceded']
        
        prob_home, prob_away, prob_draw = 0, 0, 0
        
        for x in range(11):
            for y in range(11):
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        
        # Retourne le résultat sous forme de texte
        if prob_home > prob_away and prob_home > prob_draw:
            return home  
        elif prob_away > prob_home and prob_away > prob_draw:
            return away  
        else:
            return "draw"  # Match nul
    
    return None  # Si une équipe n'a pas de données

In [25]:
predict_winner('Morocco','Algeria')

'Morocco'

In [24]:
df_fixture_group_36

                 home score               away  year
0             Morocco     v            Comoros  2025
1                Mali     v             Zambia  2025
2             Morocco     v               Mali  2025
3              Zambia     v            Comoros  2025
4              Zambia     v            Morocco  2025
5             Comoros     v               Mali  2025
6               Egypt     v           Zimbabwe  2025
7        South Africa     v             Angola  2025
8               Egypt     v       South Africa  2025
9              Angola     v           Zimbabwe  2025
10             Angola     v              Egypt  2025
11           Zimbabwe     v       South Africa  2025
12            Nigeria     v           Tanzania  2025
13            Tunisia     v             Uganda  2025
14            Nigeria     v            Tunisia  2025
15             Uganda     v           Tanzania  2025
16             Uganda     v            Nigeria  2025
17           Tanzania     v            Tunisia  2025
18            Senegal     v           Botswana  2025
19           DR Congo     v              Benin  2025
20            Senegal     v           DR Congo  2025
21              Benin     v           Botswana  2025
22              Benin     v            Senegal  2025
23           Botswana     v           DR Congo  2025
24            Algeria     v              Sudan  2025
25       Burkina Faso     v  Equatorial Guinea  2025
26            Algeria     v       Burkina Faso  2025
27  Equatorial Guinea     v              Sudan  2025
28  Equatorial Guinea     v            Algeria  2025
29              Sudan     v       Burkina Faso  2025
30        Ivory Coast     v         Mozambique  2025
31           Cameroon     v              Gabon  2025
32        Ivory Coast     v           Cameroon  2025
33              Gabon     v         Mozambique  2025
34              Gabon     v        Ivory Coast  2025
35         Mozambique     v           Cameroon  2025

In [18]:
df_fixture_group_36['predicted_winner'] = df_fixture_group_36.apply(
    lambda row: predict_winner(row['home'], row['away']), axis=1
)

NameError: name 'df_fixture_group_36' is not defined

In [46]:
print(df_fixture_group_36)

                 home score               away  year   predicted_winner
0             Morocco     v            Comoros  2025            Morocco
1                Mali     v             Zambia  2025             Zambia
2             Morocco     v               Mali  2025            Morocco
3              Zambia     v            Comoros  2025             Zambia
4              Zambia     v            Morocco  2025            Morocco
5             Comoros     v               Mali  2025               Mali
6               Egypt     v           Zimbabwe  2025              Egypt
7        South Africa     v             Angola  2025       South Africa
8               Egypt     v       South Africa  2025              Egypt
9              Angola     v           Zimbabwe  2025             Angola
10             Angola     v              Egypt  2025              Egypt
11           Zimbabwe     v       South Africa  2025       South Africa
12            Nigeria     v           Tanzania  2025            Nigeria
13            Tunisia     v             Uganda  2025            Tunisia
14            Nigeria     v            Tunisia  2025            Nigeria
15             Uganda     v           Tanzania  2025             Uganda
16             Uganda     v            Nigeria  2025            Nigeria
17           Tanzania     v            Tunisia  2025            Tunisia
18            Senegal     v           Botswana  2025            Senegal
19           DR Congo     v              Benin  2025           DR Congo
20            Senegal     v           DR Congo  2025            Senegal
21              Benin     v           Botswana  2025              Benin
22              Benin     v            Senegal  2025            Senegal
23           Botswana     v           DR Congo  2025           DR Congo
24            Algeria     v              Sudan  2025            Algeria
25       Burkina Faso     v  Equatorial Guinea  2025  Equatorial Guinea
26            Algeria     v       Burkina Faso  2025            Algeria
27  Equatorial Guinea     v              Sudan  2025  Equatorial Guinea
28  Equatorial Guinea     v            Algeria  2025  Equatorial Guinea
29              Sudan     v       Burkina Faso  2025       Burkina Faso
30        Ivory Coast     v         Mozambique  2025        Ivory Coast
31           Cameroon     v              Gabon  2025           Cameroon
32        Ivory Coast     v           Cameroon  2025           Cameroon
33              Gabon     v         Mozambique  2025              Gabon
34              Gabon     v        Ivory Coast  2025        Ivory Coast
35         Mozambique     v           Cameroon  2025           Cameroon

In [6]:
dict_table = pickle.load(open('dict_table','rb'))

In [7]:
dict_table

{'Group A':    Rang   Équipe  Pts  J  G  N  P  Bp  Bc  Diff
 0     1  Maroc H    0  0  0  0  0   0   0     0
 1     2     Mali    0  0  0  0  0   0   0     0
 2     3   Zambie    0  0  0  0  0   0   0     0
 3     4  Comores    0  0  0  0  0   0   0     0,
 'Group B':    Rang          Équipe  Pts  J  G  N  P  Bp  Bc  Diff
 0     1          Égypte    0  0  0  0  0   0   0     0
 1     2  Afrique du Sud    0  0  0  0  0   0   0     0
 2     3          Angola    0  0  0  0  0   0   0     0
 3     4        Zimbabwe    0  0  0  0  0   0   0     0,
 'Group C':    Rang    Équipe  Pts  J  G  N  P  Bp  Bc  Diff
 0     1   Nigeria    0  0  0  0  0   0   0     0
 1     2   Tunisie    0  0  0  0  0   0   0     0
 2     3   Ouganda    0  0  0  0  0   0   0     0
 3     4  Tanzanie    0  0  0  0  0   0   0     0,
 'Group D':    Rang    Équipe  Pts  J  G  N  P  Bp  Bc  Diff
 0     1   Sénégal    0  0  0  0  0   0   0     0
 1     2  RD Congo    0  0  0  0  0   0   0     0
 2     3     Bénin    0  0  0  0  0   0   0     0
 3     4  Botswana    0  0  0  0  0   0   0     0,
 'Group E':    Rang              Équipe  Pts  J  G  N  P  Bp  Bc  Diff
 0     1             Algérie    0  0  0  0  0   0   0     0
 1     2        Burkina Faso    0  0  0  0  0   0   0     0
 2     3  Guinée équatoriale    0  0  0  0  0   0   0     0
 3     4              Soudan    0  0  0  0  0   0   0     0,
 'Group F':    Rang         Équipe  Pts  J  G  N  P  Bp  Bc  Diff
 0     1       Cameroun    0  0  0  0  0   0   0     0
 1     2          Gabon    0  0  0  0  0   0   0     0
 2     3  Côte d'Ivoire    0  0  0  0  0   0   0     0
 3     4     Mozambique    0  0  0  0  0   0   0     0}

In [10]:
df_fixture_knockout = df_fixture[36:44].copy()

In [11]:
df_fixture_knockout

                 home score               away  year
36     Winner Group D    R1    3rd Group B/E/F  2025
37  Runner-up Group A    R2  Runner-up Group C  2025
38     Winner Group A    R3    3rd Group C/D/E  2025
39  Runner-up Group B    R4  Runner-up Group F  2025
40     Winner Group B    R5    3rd Group A/C/D  2025
41     Winner Group C    R6    3rd Group A/B/F  2025
42     Winner Group E    R7  Runner-up Group D  2025
43     Winner Group F    R8  Runner-up Group E  2025

In [12]:
df_fixture_knockout = df_fixture[44:48].copy()

In [13]:
df_fixture_knockout

         home score       away  year
44  Winner R2   QF1  Winner R1  2025
45  Winner R4   QF2  Winner R3  2025
46  Winner R7   QF3  Winner R6  2025
47  Winner R5   QF4  Winner R8  2025

In [14]:
df_fixture_knockout = df_fixture[48:50].copy()

In [15]:
df_fixture_knockout

          home score        away  year
48  Winner QF1   SF1  Winner QF4  2025
49  Winner QF3   SF2  Winner QF2  2025

In [43]:
predict_winner('Senegal','Egypt')

'Egypt'